<!-- start custom head snippets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- 참고 : https://velog.io/@eona1301/Github-Blog-%ED%8C%8C%EB%B9%84%EC%BD%98Favicon-%EC%84%B8%ED%8C%85%ED%95%98%EA%B8%B0 -->
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/assets/favicon/favicon.svg" />
<link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png" />
<link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest" />
{% if page.use_math %}
		{% include mathjax-support.html %}
{% endif %}
<!-- end custom head snippets -->
